<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1076060332370-n7komarcfqedc61rig3arsalthp1kquq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076060332370-n7komarcfqedc61rig3arsalthp1kquq</string>
	<key>API_KEY</key>
	<string>AIzaSyDq1bULWCD3kt3c1iVJ1mqpvAuCUQ6almA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076060332370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.googleDriveApp</string>
	<key>PROJECT_ID</key>
	<string>driveapp-1d75a</string>
	<key>STORAGE_BUCKET</key>
	<string>driveapp-1d75a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076060332370:ios:f81dac14f7d93a4a</string>
	<key>DATABASE_URL</key>
	<string>https://driveapp-1d75a.firebaseio.com</string>
</dict>
</plist>